Repository SoupyOfficial/ash_trail: changes, and which Codecov flags are due for each by the changed paths.
All: unit_tests, widget_tests, integration_tests, Core Infrastructure, Domain Logic, Logging Feature, Accounts Feature, App Shell & Navigation, Data Layer, Presentation Layer, Use Cases, Telemetry

feat: Implement 6am day boundary and enhance reason chips styling
  lib/models/range_query_spec.dart
  lib/screens/history_screen.dart
  lib/services/analytics_service.dart
  lib/services/home_metrics_service.dart
  lib/utils/day_boundary.dart
  lib/widgets/charts/time_range_picker.dart
  lib/widgets/edit_log_record_dialog.dart
  lib/widgets/home_quick_log_widget.dart
  lib/widgets/home_widgets/home_widget_builder.dart
  lib/widgets/log_entry_widgets.dart
  lib/widgets/reason_chips_grid.dart
  lib/widgets/time_since_last_hit_widget.dart
  test/integration/widget_integration_test.dart
  test/models/range_query_spec_test.dart
  test/services/analytics_service_test.dart
  test/widgets/time_since_last_hit_widget_test.dart
  test/widgets/widget_user_stories_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

chore: Update .gitignore to include iOS build directory and maintain Figma screenshots
  .gitignore
Due: none

Refactor code structure for improved readability and maintainability
  .github/workflows/ci.yml
  .gitignore
  docs/testing/COVERAGE_GUIDE.md
  ios/Flutter/AppFrameworkInfo.plist
  ios/Podfile.lock
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  test/models/enums_test.dart
  test/models/home_widget_config_test.dart
  test/models/sync_metadata_test.dart
  test/models/user_account_test.dart
  test/models/web_models_test.dart
  test/providers/log_record_provider_test.dart
  test/repositories/account_repository_test.dart
  test/repositories/log_record_repository_test.dart
  test/services/account_service_test.dart
  test/services/account_session_manager_test.dart
  test/services/auth_service_test.dart
  test/services/home_metrics_service_test.dart
  test/services/notification_service_test.dart
  test/services/sync_service_test.dart
  test/utils/a11y_utils_test.dart
  test/utils/day_boundary_test.dart
  test/utils/design_constants_test.dart
  test/utils/pattern_analysis_test.dart
  test/utils/responsive_layout_test.dart
  test/utils/widget_standardization_test.dart
  test/widgets/auth_button_test.dart
  test/widgets/chart_widgets_test.dart
  test/widgets/home_widget_wrapper_test.dart
  test/widgets/reason_chips_grid_test.dart
  test/widgets/stat_card_widget_test.dart
  test/widgets/widget_catalog_test.dart
Due: Presentation Layer

Refactor authentication handling and remove anonymous account support
  integration_test/accounts_screen_test.dart
  integration_test/figma_screenshot_capture.dart
  integration_test/multi_account_test.dart
  integration_test/test_bundle.dart
  lib/main.dart
  lib/models/account.dart
  lib/models/enums.dart
  lib/models/model_converters.dart
  lib/models/web_models.dart
  lib/providers/account_provider.dart
  lib/screens/accounts_screen.dart
  lib/screens/login_screen.dart
  lib/screens/signup_screen.dart
  macos/Runner.xcodeproj/project.pbxproj
  nohup.out
  patrol_output.txt
  scripts/run_e2e_tests.sh
  test/main_test.dart
  test/models/account_test.dart
  test/models/enums_test.dart
  test/models/user_account_test.dart
  test/models/web_models_test.dart
  test/providers/account_provider_test.dart
  test/repositories/account_repository_test.dart
  test/screens/test_account_user_stories_test.dart
  test/services/account_service_test.dart
  test/services/account_session_manager_test.dart
Due: unit_tests, widget_tests, integration_tests

Refactor error logging and improve account handling in providers; enhance log record filtering and sorting; clean up widget layout and formatting
  integration_test/components/home.dart
  integration_test/helpers/pump.dart
  integration_test/multi_account_test.dart
  lib/providers/account_provider.dart
  lib/repositories/log_record_repository_hive.dart
  lib/widgets/home_quick_log_widget.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

Refactor logging and error handling across multiple screens; increase SnackBar duration to 3 seconds
  docs/testflight_upload_guide.md
  integration_test/helpers/pump.dart
  integration_test/test_bundle.dart
  lib/main.dart
  lib/screens/export_screen.dart
  lib/screens/home_screen.dart
  lib/screens/logging_screen.dart
  lib/screens/login_screen.dart
  lib/screens/profile_screen.dart
  lib/widgets/analytics_charts.dart
  lib/widgets/backdate_dialog.dart
  lib/widgets/charts/hourly_heatmap.dart
  lib/widgets/edit_log_record_dialog.dart
  lib/widgets/home_quick_log_widget.dart
  lib/widgets/home_widgets/widget_picker_sheet.dart
  lib/widgets/location_map_picker.dart
  lib/widgets/log_entry_widgets.dart
  lib/widgets/log_record_list.dart
  lib/widgets/sync_status_widget.dart
  scripts/run_all_e2e.sh
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

Refactor CI workflows for improved structure and clarity; update TestFlight deployment script for enhanced functionality
  .github/workflows/ci.yml
  .github/workflows/e2e-ios.yml
  .github/workflows/pages.yml
  .github/workflows/testflight.yml
  lib/widgets/home_quick_log_widget.dart
  scripts/deploy_testflight.sh
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

Refactor account session manager tests to use createAccount function; improve readability and consistency in sync service tests; standardize widget tests for alignment and spacing helpers.
  integration_test/components/accounts.dart
  test/repositories/account_repository_test.dart
  test/repositories/log_record_repository_test.dart
  test/services/account_service_test.dart
  test/services/account_session_manager_test.dart
  test/services/sync_service_test.dart
  test/utils/widget_standardization_test.dart
Due: none

Add Snackbar tests for quick log functionality; ensure proper display and auto-dismiss behavior
  integration_test/home_screen_test.dart
  lib/widgets/home_quick_log_widget.dart
  test/services/home_metrics_service_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat(logging): Enhance logging for multi-account debugging and diagnostics
  integration_test/helpers/pump.dart
  integration_test/multi_account_test.dart
  lib/logging/app_logger.dart
  lib/main.dart
  lib/providers/account_provider.dart
  lib/providers/log_record_provider.dart
  lib/services/log_record_service.dart
  lib/widgets/home_quick_log_widget.dart
  test/services/token_service_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

Refactor widget catalog tests for improved readability and consistency; add realistic multi-account log switching tests with real Hive integration
  lib/widgets/analytics_charts.dart
  lib/widgets/charts/hourly_heatmap.dart
  lib/widgets/home_widgets/home_widget_builder.dart
  lib/widgets/home_widgets/widget_catalog.dart
  scripts/deploy_testflight.sh
  test/providers/multi_account_realistic_test.dart
  test/widgets/chart_widgets_test.dart
  test/widgets/widget_catalog_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat(home_screen): disable default drag handles for ReorderableListView
  lib/screens/home_screen.dart
  test/services/token_service_test.dart
  test/widgets/analytics_charts_widget_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

fix(home_quick_log_widget): correct log message formatting for active account check
  lib/widgets/home_quick_log_widget.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

refactor(navigation): remove LoggingScreen and associated navigation destination
  lib/navigation/main_navigation.dart
Due: unit_tests, widget_tests, integration_tests

refactor(navigation): comment out import for LoggingScreen
  lib/navigation/main_navigation.dart
Due: unit_tests, widget_tests, integration_tests

feat(home_screen): add personalized greeting based on active account
  lib/screens/home_screen.dart
Due: unit_tests, widget_tests, integration_tests

Add new widgets and enhance existing functionality
  .github/prompts/plan-uiDocumentation.prompt.md
  .github/workflows/docs.yml
  .github/workflows/pages.yml
  docs/mkdocs.yml
  docs/requirements.txt
  docs/ui/README.md
  docs/ui/architecture.md
  docs/ui/data-sync.md
  docs/ui/developer-guide.md
  docs/ui/features.md
  docs/ui/glossary.md
  docs/ui/logging.md
  docs/ui/quick-reference.md
  docs/ui/screens.md
  docs/ui/trends.md
  docs/ui/widgets/README.md
  docs/ui/widgets/action.md
  docs/ui/widgets/comparison.md
  docs/ui/widgets/count-based.md
  docs/ui/widgets/customization.md
  docs/ui/widgets/duration-based.md
  docs/ui/widgets/pattern.md
  docs/ui/widgets/secondary-data.md
  docs/ui/widgets/time-based.md
  scripts/deploy_testflight.sh
  test/services/analytics_user_stories_test.dart
  test/services/home_metrics_service_test.dart
  test/utils/day_boundary_test.dart
Due: Presentation Layer

chore: update documentation and version bump to 1.0.2+12
  .github/workflows/docs.yml
  CHANGELOG.md
  docs/README.md
  docs/overrides/main.html
  docs/requirements.txt
  docs/stylesheets/extra.css
  docs/ui/README.md
  docs/ui/data-sync.md
  docs/ui/developer-guide.md
  docs/ui/features.md
  docs/ui/logging.md
  docs/ui/screens.md
  docs/ui/troubleshooting.md
  docs/ui/widgets/README.md
  mkdocs.yml
  pubspec.yaml
Due: Presentation Layer

Enhance logging and diagnostics across services
  docs/setup/AUTHENTICATION_SETUP.md
  docs/setup/TEST_ACCOUNTS_SETUP.md
  integration_test/components/login.dart
  integration_test/flows/gmail_login_flow.dart
  integration_test/gmail_multi_account_test.dart
  integration_test/helpers/config.dart
  lib/screens/accounts_screen.dart
  lib/screens/login_screen.dart
  lib/screens/multi_account_diagnostics_screen.dart
  lib/services/account_integration_service.dart
  lib/services/account_session_manager.dart
  lib/services/auth_service.dart
  lib/services/sync_service.dart
  lib/services/token_service.dart
  test/providers/multi_account_realistic_test.dart
Due: unit_tests, widget_tests, integration_tests

Add lib-docs code reference to GitHub Pages
  .github/workflows/docs.yml
  .gitignore
  lib-docs/logging/app_logger.md
  lib-docs/main.md
  lib-docs/models/account.md
  lib-docs/models/daily_rollup.md
  lib-docs/models/enums.md
  lib-docs/models/home_widget_config.md
  lib-docs/models/log_record.md
  lib-docs/models/model_converters.md
  lib-docs/models/range_query_spec.md
  lib-docs/models/sync_metadata.md
  lib-docs/models/user_account.md
  lib-docs/models/web_models.md
  lib-docs/navigation/main_navigation.md
  lib-docs/providers/account_provider.md
  lib-docs/providers/auth_provider.md
  lib-docs/providers/home_widget_config_provider.md
  lib-docs/providers/log_record_provider.md
  lib-docs/providers/sync_provider.md
  lib-docs/repositories/account_repository.md
  lib-docs/repositories/account_repository_hive.md
  lib-docs/repositories/log_record_repository.md
  lib-docs/repositories/log_record_repository_hive.md
  lib-docs/screens/accounts_screen.md
  lib-docs/screens/analytics_screen.md
  lib-docs/screens/export_screen.md
  lib-docs/screens/history_screen.md
  lib-docs/screens/home_screen.md
  lib-docs/screens/logging_screen.md
  lib-docs/screens/login_screen.md
  lib-docs/screens/multi_account_diagnostics_screen.md
  lib-docs/screens/profile_screen.md
  lib-docs/screens/signup_screen.md
  mkdocs.yml
Due: none

docs: update lib-docs to match current lib source
  devtools_options.yaml
  integration_test/multi_account_sim_test.dart
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  lib-docs/firebase_options.md
  lib-docs/models/app_error.md
  lib-docs/models/result.md
  lib-docs/providers/observability_providers.md
  lib-docs/screens/login_screen.md
  lib-docs/services/app_analytics_service.md
  lib-docs/services/app_performance_service.md
  lib-docs/services/crash_reporting_service.md
  lib-docs/services/error_reporting_service.md
  lib-docs/services/otel_service.md
  lib-docs/utils/error_display.md
  lib-docs/widgets/error_boundary.md
  lib-docs/widgets/home_quick_log_widget.md
  lib/.!38542!._main.dart
  lib/providers/account_provider.dart
  lib/repositories/account_repository_hive.dart
  lib/widgets/home_quick_log_widget.dart
  pubspec.yaml
  scripts/run_e2e_tests.sh
  test_gmail_login.sh
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: replace ReorderableListView with staggered grid dashboard
  integration_test/app_e2e_test.dart
  integration_test/logging_test.dart
  lib/models/home_widget_config.dart
  lib/providers/home_widget_config_provider.dart
  lib/screens/home_screen.dart
  lib/services/account_integration_service.dart
  lib/services/token_service.dart
  lib/utils/responsive_layout.dart
  lib/widgets/home_widgets/dashboard_grid.dart
  lib/widgets/home_widgets/home_widget_wrapper.dart
  lib/widgets/home_widgets/home_widgets.dart
  lib/widgets/home_widgets/widget_catalog.dart
  lib/widgets/home_widgets/widget_settings_sheet.dart
  pubspec.yaml
  test/models/home_widget_config_test.dart
  test/providers/home_widget_config_provider_test.dart
  test/utils/responsive_layout_test.dart
  test/widgets/home_widget_wrapper_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: add Xcode Cloud post-clone script for Flutter and CocoaPods setup
  .github/prompts/plan-gridBasedDashboardLayoutOverhaul.prompt.md
  ios/ci_scripts/ci_post_clone.sh
Due: none

chore: update script file permissions to executable
  ios/ci_scripts/ci_post_clone.sh
  scripts/capture_all_screens.sh
  scripts/capture_app_screens.sh
  scripts/capture_flutter_screenshots.sh
  scripts/capture_screenshots_manual.sh
  scripts/capture_with_navigation.sh
  scripts/deploy_testflight.sh
  scripts/fix_missing_dsyms.sh
  scripts/install-hooks.sh
  scripts/preflight_gmail_check.sh
  scripts/prepare_figma_import.sh
  scripts/run_all_e2e.sh
  scripts/run_e2e_tests.sh
  scripts/seed_gmail_simulator.sh
  scripts/testflight_deploy_local.sh
  scripts/testflight_simple.sh
Due: none

v1.0.12+22: Add settings screen plan, deploy to TestFlight
  .github/prompts/plan-settingsScreen.prompt.md
  pubspec.yaml
Due: none

feat: Implement app settings management with SharedPreferences
  lib/main.dart
  lib/models/app_settings.dart
  lib/providers/app_settings_provider.dart
  lib/screens/home_screen.dart
  lib/screens/settings_screen.dart
  lib/utils/design_constants.dart
  lib/utils/responsive_layout.dart
  lib/widgets/home_widgets/dashboard_grid.dart
  lib/widgets/home_widgets/home_widget_wrapper.dart
  lib/widgets/home_widgets/stat_card_widget.dart
  test/providers/app_settings_provider_test.dart
  test/screens/settings_screen_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

Move edit layout button to leading side of AppBar
  lib/screens/home_screen.dart
  pubspec.yaml
Due: unit_tests, widget_tests, integration_tests

feat: transfer log record to another account
  .github/prompts/plan-transferLogToAnotherUser.prompt.md
  lib/models/log_record.dart
  lib/models/model_converters.dart
  lib/models/web_models.dart
  lib/providers/log_record_provider.dart
  lib/repositories/log_record_repository_hive.dart
  lib/services/account_service.dart
  lib/services/data_integrity_service.dart
  lib/services/export_service.dart
  lib/services/log_record_service.dart
  lib/services/sync_service.dart
  lib/widgets/edit_log_record_dialog.dart
  lib/widgets/log_record_list.dart
  lib/widgets/transfer_log_dialog.dart
  pubspec.yaml
  test/models/log_record_test.dart
  test/models/model_converters_test.dart
  test/services/data_integrity_service_test.dart
  test/services/log_record_service_test.dart
  test/services/sync_service_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: configurable widget settings system
  .github/prompts/plan-configurableWidgetSettings.prompt.md
  lib/services/home_metrics_service.dart
  lib/widgets/home_widgets/home_widget_builder.dart
  lib/widgets/home_widgets/home_widgets.dart
  lib/widgets/home_widgets/widget_catalog.dart
  lib/widgets/home_widgets/widget_picker_sheet.dart
  lib/widgets/home_widgets/widget_settings_keys.dart
  lib/widgets/home_widgets/widget_settings_sheet.dart
  test/services/home_metrics_service_test.dart
  test/widgets/widget_settings_keys_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: per-widget trend comparison period selector
  ios/Flutter/AppFrameworkInfo.plist
  lib/services/home_metrics_service.dart
  lib/widgets/home_widgets/home_widget_builder.dart
  lib/widgets/home_widgets/stat_card_widget.dart
  lib/widgets/home_widgets/widget_settings_keys.dart
  lib/widgets/home_widgets/widget_settings_sheet.dart
  lib/widgets/time_since_last_hit_widget.dart
  pubspec.yaml
  test/services/home_metrics_service_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat(watch): add periodic background refresh and foreground data fetch
  ios/Ash Trail Watch App/AshTrailWatchApp.swift
  ios/Ash Trail Watch App/WatchSessionManager.swift
  ios/Ash Trail Watch Widgets/ComplicationDataStore.swift
  ios/Runner.xcodeproj/project.pbxproj
  lib/services/widget_service.dart
  pubspec.yaml
Due: unit_tests, widget_tests, integration_tests

fix: average gap excludes overnight sleep gaps and empty days
  lib/services/home_metrics_service.dart
  pubspec.yaml
Due: unit_tests, widget_tests, integration_tests

iOS widgets: industry-standard refresh with Text(date, style: .relative)
  ios/Ash Trail Widgets/AppLaunchWidget.swift
  ios/Ash Trail Widgets/DailySummaryWidget.swift
  ios/Ash Trail Widgets/QuickStatsWidget.swift
  ios/Ash Trail Widgets/TimeSinceLastHitWidget.swift
Due: none

Fix toast popups: add explicit 3-second duration to all SnackBars
  lib/screens/history_screen.dart
  lib/screens/logging_screen.dart
Due: unit_tests, widget_tests, integration_tests

Path conditions:
  unit_tests: any of: lib/, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  widget_tests: any of: lib/, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  integration_tests: any of: lib/, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Core Infrastructure: any of: lib/core/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Domain Logic: any of: lib/domain/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Logging Feature: any of: lib/features/logging/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Accounts Feature: any of: lib/features/accounts/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  App Shell & Navigation: any of: lib/features/app_shell/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Data Layer: any of: **/data/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Presentation Layer: any of: **/presentation/**, **/widgets/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Use Cases: any of: **/domain/usecases/**, **/domain/use_cases/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Telemetry: any of: lib/telemetry/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
