Repository SoupyOfficial/ash_trail: changes, and which Codecov flags are due for each by the changed paths.
All: unit_tests, widget_tests, integration_tests, Core Infrastructure, Domain Logic, Logging Feature, Accounts Feature, App Shell & Navigation, Data Layer, Presentation Layer, Use Cases, Telemetry

Path conditions:
  unit_tests: any of: lib/, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  widget_tests: any of: lib/, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  integration_tests: any of: lib/, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Core Infrastructure: any of: lib/core/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Domain Logic: any of: lib/domain/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Logging Feature: any of: lib/features/logging/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Accounts Feature: any of: lib/features/accounts/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  App Shell & Navigation: any of: lib/features/app_shell/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Data Layer: any of: **/data/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Presentation Layer: any of: **/presentation/**, **/widgets/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Use Cases: any of: **/domain/usecases/**, **/domain/use_cases/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Telemetry: any of: lib/telemetry/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**

feat: Add TestFlight deployment guide and update app version to 1.0.1+11
  TESTFLIGHT_DEPLOYMENT.md
  pubspec.yaml
Due: none

refactor: Enhance AuthService for improved Google sign-in handling and error logging; update constructor for testability
  lib/providers/auth_provider.dart
  lib/services/auth_service.dart
Due: unit_tests, widget_tests, integration_tests

feat: Integrate Crash Reporting Service for enhanced error tracking and logging; update dependencies for Firebase Crashlytics
  lib/main.dart
  lib/services/account_integration_service.dart
  lib/services/auth_service.dart
  lib/services/crash_reporting_service.dart
  pubspec.yaml
Due: unit_tests, widget_tests, integration_tests

feat: Enhance logout functionality to handle anonymous accounts; update logout confirmation message and button style
  ios/Podfile.lock
  lib/screens/accounts_screen.dart
Due: unit_tests, widget_tests, integration_tests

chore: Update Info.plist to specify non-exempt encryption usage
  ios/Runner/Info.plist
Due: none

feat: Implement legacy data migration support and enhance Google sign-in process
  ACCOUNT_MAPPING_UPDATE.md
  CRASH_ANALYSIS_AND_FIX.md
  FIRESTORE_DATA_VALIDATION_REPORT.md
  GMAIL_LOGIN_TEST_GUIDE.md
  GMAIL_LOGIN_TEST_READY.md
  IOS_CRASH_FIX.md
  LEGACY_DATA_ARCHITECTURE.md
  LEGACY_DATA_CLI_VERIFICATION.md
  LEGACY_DATA_COMPLETION.md
  LEGACY_DATA_IMPLEMENTATION.md
  LEGACY_DATA_INDEX.md
  LEGACY_DATA_QUICK_REFERENCE.md
  LEGACY_DATA_SUPPORT.md
  VERIFICATION_COMPLETE.md
  integration_test/legacy_data_integration_test.dart
  ios/Runner/Info.plist
  lib/main.dart
  lib/providers/sync_provider.dart
  lib/repositories/account_repository.dart
  lib/repositories/account_repository_hive.dart
  lib/screens/accounts_screen.dart
  lib/screens/auth/login_screen.dart
  lib/screens/logging_screen.dart
  lib/services/account_integration_service.dart
  lib/services/account_service.dart
  lib/services/auth_service.dart
  lib/services/legacy_data_adapter.dart
  lib/services/log_record_service.dart
  lib/services/sync_service.dart
  lib/utils/verify_legacy_data.dart
  lib/widgets/edit_log_record_dialog.dart
  test/providers/account_provider_test.dart
  test/providers/sync_provider_test.dart
  test/widget_test.dart
  test/widgets/home_quick_log_widget_test.dart
  test_gmail_login.sh
  test_output.txt
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: Add log record deletion functionality and time since last hit widget; enhance edit log dialog
  lib/screens/history_screen.dart
  lib/screens/home_screen.dart
  lib/widgets/edit_log_record_dialog.dart
  lib/widgets/time_since_last_hit_widget.dart
  test/screens/home_screen_test.dart
  test/widgets/time_since_last_hit_widget_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: Implement stream-based log record statistics provider and add remote deletion handling in log record service
  lib/providers/log_record_provider.dart
  lib/services/log_record_service.dart
  lib/services/sync_service.dart
  test/screens/analytics_screen_test.dart
  test/screens/home_screen_test.dart
Due: unit_tests, widget_tests, integration_tests

fix: resolve analyzer warnings in test files
  test/screens/analytics_screen_test.dart
  test/screens/home_screen_test.dart
  test/services/sync_integration_test.dart
Due: none

Refactor analytics and home screen tests for improved clarity and structure; add sync integration tests for offline handling and conflict resolution
  test/screens/analytics_screen_test.dart
Due: none

feat: Enhance sync functionality with account-specific sync management and improved auto-sync handling
  lib/providers/sync_provider.dart
  lib/screens/home_screen.dart
  lib/services/sync_service.dart
  test/providers/sync_provider_test.dart
Due: unit_tests, widget_tests, integration_tests

feat: Add GitHub Actions workflow for TestFlight deployment and setup guide
  .github/workflows/testflight.yml
  GITHUB_TESTFLIGHT_SETUP.md
  ios/ExportOptions.plist
Due: none

feat: Enhance TimeSinceLastHitWidget with daily and weekly statistics, trend indicators, and improved test coverage
  lib/screens/home_screen.dart
  lib/widgets/time_since_last_hit_widget.dart
  test/widgets/time_since_last_hit_widget_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

Add comprehensive widget tests for analytics and logging features
  WIDGET_TESTS_SUMMARY.md
  docs/FEATURE_PLANS_DECISION_MATRIX.md
  docs/FEATURE_PLAN_A_HEALTH_FOCUSED.md
  docs/FEATURE_PLAN_B_PATTERN_ANALYSIS.md
  docs/FEATURE_PLAN_C_VISUAL_DASHBOARD.md
  docs/FEATURE_PLAN_D_GAMIFICATION.md
  docs/WIDGET_TEST_DOCUMENTATION.md
  test/integration/widget_integration_test.dart
  test/services/dual_login_test.dart
  test/services/sequential_login_test.dart
  test/services/sync_features_test.dart
  test/widgets/analytics_charts_widget_test.dart
  test/widgets/time_since_last_hit_widget_test.dart
  test/widgets/widget_user_stories_test.dart
Due: Presentation Layer

fix: Update team ID in ExportOptions.plist for correct app signing
  ios/ExportOptions.plist
Due: none

feat: add peak hour and day-of-week pattern analysis to statistics widget
  lib/utils/pattern_analysis.dart
  lib/widgets/time_since_last_hit_widget.dart
  test/widgets/time_since_last_hit_widget_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

Fix TestFlight CI: proper provisioning profile installation and manual signing
  .github/workflows/testflight.yml
Due: none

Fix base64 decoding for Linux GitHub runners
  .github/workflows/testflight.yml
Due: none

Fix GitHub Pages base href for project subdirectory
  .github/workflows/pages.yml
Due: none

Improve TestFlight CI signing configuration and export profile UUID
  .github/workflows/testflight.yml
Due: none

fix: update location service to use correct geolocator 12.0.0 API
  LOCATION_PERMISSIONS_SETUP.md
  android/app/src/main/AndroidManifest.xml
  ios/Podfile
  ios/Runner/Info.plist
  lib/services/location_service.dart
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Due: unit_tests, widget_tests, integration_tests

fix: strengthen iOS deployment target configuration for all pods and project
  ios/Podfile
Due: none

feat: integrate geolocation features into logging UI
  GEOLOCATION_FEATURES.md
  GEOLOCATION_INTEGRATION.md
  lib/screens/logging_screen.dart
  lib/widgets/backdate_dialog.dart
  lib/widgets/log_record_list.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

fix: unconditionally set iOS 13.0 deployment target for all pods after flutter settings
  ios/Podfile
Due: none

chore: align git hooks with GitHub Actions workflow
  scripts/git-hooks/README.md
  scripts/git-hooks/pre-commit
  scripts/git-hooks/pre-push
Due: none

fix: add mvp branch to pre-push iOS build checks
  scripts/git-hooks/pre-push
Due: none

docs: add README for git hooks
  scripts/git-hooks/README.md
Due: none

fix: update pre-push hook to validate only main branch and add install-hooks script
  scripts/git-hooks/pre-push
  scripts/install-hooks.sh
Due: none

feat: Enhance account management and logging
  integration_test/accounts_screen_test.dart
  ios/Podfile.lock
  lib/main.dart
  lib/models/account.dart
  lib/models/model_converters.dart
  lib/models/web_models.dart
  lib/providers/account_provider.dart
  lib/repositories/account_repository.dart
  lib/repositories/account_repository_hive.dart
  lib/screens/accounts_screen.dart
  lib/services/account_integration_service.dart
  lib/services/account_service.dart
  lib/services/account_session_manager.dart
  lib/services/hive_database_service.dart
  test/providers/account_provider_test.dart
  test/screens/accounts_screen_test.dart
  test/screens/login_screen_test.dart
  test/screens/profile_screen_test.dart
  test/screens/signup_screen_test.dart
  test/screens/test_account_user_stories_test.dart
Due: unit_tests, widget_tests, integration_tests

feat: Add comprehensive test coverage for multi-account data separation and cloud sync functionality
  MULTI_USER_SYNC_TEST_COVERAGE.md
  lib/providers/account_provider.dart
  lib/providers/log_record_provider.dart
  lib/repositories/account_repository_hive.dart
  lib/repositories/log_record_repository_hive.dart
  lib/services/legacy_data_adapter.dart
  lib/services/sync_service.dart
  lib/widgets/analytics_charts.dart
  lib/widgets/backdate_dialog.dart
  pubspec.yaml
  test/services/sync_account_scoping_test.dart
  test/widgets/analytics_charts_widget_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

Add Data Integrity Service tests and enhance mock repositories
  lib/repositories/log_record_repository.dart
  lib/repositories/log_record_repository_hive.dart
  lib/services/account_service.dart
  lib/services/data_integrity_service.dart
  lib/services/log_record_service.dart
  test/providers/account_provider_test.dart
  test/providers/multi_account_log_switching_test.dart
  test/services/account_data_isolation_test.dart
  test/services/data_integrity_service_test.dart
  test/services/log_record_service_test.dart
  test/services/log_record_user_stories_test.dart
  test/services/sync_account_scoping_test.dart
  test/services/sync_integration_test.dart
Due: unit_tests, widget_tests, integration_tests

feat: Add LocationMapPicker widget for selecting locations on a map
  .github/workflows/e2e-ios.yml
  E2E_TESTING_GUIDE.md
  LOCATION_COLLECTION_SETUP.md
  integration_test/app_e2e_test.dart
  integration_test/comprehensive_e2e_test.dart
  integration_test/location_collection_test.dart
  ios/Podfile
  ios/Podfile.lock
  ios/Runner/AppDelegate.swift
  lib/main.dart
  lib/screens/logging_screen.dart
  lib/widgets/analytics_charts.dart
  lib/widgets/edit_log_record_dialog.dart
  lib/widgets/location_map_picker.dart
  linux/flutter/generated_plugins.cmake
  patrol.yaml
  pubspec.yaml
  scripts/run_e2e_tests.sh
  test/LOCATION_TESTS_README.md
  test/services/location_service_test.dart
  test/widgets/analytics_charts_widget_test.dart
  test/widgets/edit_log_record_dialog_test.dart
  test/widgets/location_map_picker_test.dart
  test_driver/integration_test.dart
  windows/flutter/generated_plugins.cmake
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

Fix TestFlight deployment: switch to Fastlane and enforce manual signing
  .github/workflows/testflight.yml
  README.md
  docs/MULTI_ACCOUNT_ARCHITECTURE.md
  docs/MULTI_ACCOUNT_IMPLEMENTATION.md
  docs/TESTFLIGHT_CI_FIXES.md
  docs/plan/8. Authentication & Accounts.md
  ios/Gemfile
  ios/fastlane/Fastfile
  lib/providers/account_provider.dart
  lib/services/account_integration_service.dart
  lib/services/account_session_manager.dart
  lib/services/log_record_service.dart
  lib/services/sync_service.dart
  lib/services/token_service.dart
  scripts/testflight_deploy_local.sh
  scripts/testflight_simple.sh
  test/providers/account_provider_test.dart
Due: unit_tests, widget_tests, integration_tests

Update TestFlight workflow to trigger on ui-enhancements branch
  .github/workflows/testflight.yml
Due: none

Make tests optional in TestFlight workflow to allow deployment even if tests fail
  .github/workflows/testflight.yml
Due: none

Fix compilation errors and analysis warnings
  .gitignore
  ios/ExportOptions.plist
  ios/GOOGLE_MAPS_API_KEY_SETUP.md
  ios/Podfile
  ios/Runner/AppDelegate.swift
  ios/Runner/Info.plist
  lib/main.dart
  lib/models/account.dart
  lib/screens/logging_screen.dart
  lib/services/sync_service.dart
  lib/widgets/backdate_dialog.dart
  lib/widgets/home_quick_log_widget.dart
  lib/widgets/log_entry_widgets.dart
  lib/widgets/log_record_list.dart
  lib/widgets/time_since_last_hit_widget.dart
  test/providers/sync_provider_test.dart
  test/widgets/time_since_last_hit_widget_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

Fix analytics layout errors and add Figma workflow
  .gitignore
  docs/CAPTURE_SCREENSHOTS.md
  docs/FIGMA_QUICK_START.md
  docs/FIGMA_SETUP.md
  docs/FIGMA_TEST_RESULTS.md
  docs/FIGMA_WORKFLOW.md
  docs/FIGMA_WORKFLOW_SUMMARY.md
  docs/IOS_DEPLOYMENT_TARGET_FIX.md
  docs/SCREENSHOT_TEST_RESULTS.md
  docs/SCREENSHOT_VERIFICATION.md
  integration_test/figma_screenshot_capture.dart
  integration_test/screenshot_capture_test.dart
  ios/Podfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  lib/screens/analytics_screen.dart
  scripts/capture_all_screens.sh
  scripts/capture_app_screens.sh
  scripts/capture_flutter_screenshots.sh
  scripts/capture_screenshots_manual.sh
  scripts/capture_with_navigation.sh
  scripts/prepare_figma_import.sh
Due: unit_tests, widget_tests, integration_tests

Fix test failures and analyzer warnings
  integration_test/figma_screenshot_capture.dart
  lib/main.dart
  lib/models/home_widget_config.dart
  lib/providers/home_widget_config_provider.dart
  lib/screens/analytics_screen.dart
  lib/screens/home_screen.dart
  lib/screens/logging_screen.dart
  lib/services/home_metrics_service.dart
  lib/services/log_record_service.dart
  lib/services/sync_service.dart
  lib/utils/responsive_layout.dart
  lib/widgets/edit_log_record_dialog.dart
  lib/widgets/home_quick_log_widget.dart
  lib/widgets/home_widgets/home_widget_builder.dart
  lib/widgets/home_widgets/home_widget_wrapper.dart
  lib/widgets/home_widgets/home_widgets.dart
  lib/widgets/home_widgets/stat_card_widget.dart
  lib/widgets/home_widgets/widget_catalog.dart
  lib/widgets/home_widgets/widget_picker_sheet.dart
  lib/widgets/log_entry_widgets.dart
  lib/widgets/reason_chips_grid.dart
  lib/widgets/time_since_last_hit_widget.dart
  test/integration/widget_integration_test.dart
  test/widgets/time_since_last_hit_widget_test.dart
  test/widgets/widget_user_stories_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer
