Repository SoupyOfficial/ash_trail: changes, and which Codecov flags are due for each by the changed paths.
All: unit_tests, widget_tests, integration_tests, Core Infrastructure, Domain Logic, Logging Feature, Accounts Feature, App Shell & Navigation, Data Layer, Presentation Layer, Use Cases, Telemetry

Path conditions:
  unit_tests: any of: lib/, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  widget_tests: any of: lib/, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  integration_tests: any of: lib/, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Core Infrastructure: any of: lib/core/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Domain Logic: any of: lib/domain/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Logging Feature: any of: lib/features/logging/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Accounts Feature: any of: lib/features/accounts/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  App Shell & Navigation: any of: lib/features/app_shell/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Data Layer: any of: **/data/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Presentation Layer: any of: **/presentation/**, **/widgets/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Use Cases: any of: **/domain/usecases/**, **/domain/use_cases/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**
  Telemetry: any of: lib/telemetry/**, but not: lib/**/*.g.dart, lib/**/*.gr.dart, lib/**/*.config.dart, lib/domain/indexes/**, lib/telemetry/events.dart, tool/**, test/**/*_test.mocks.dart, android/**, ios/**, linux/**, macos/**, web/**, windows/**

Add tests for RecordingStatusWidget and enhance logging screen tests
  test/features/capture_hit/presentation/providers/record_button_state_provider_test.dart
  test/features/goal_progress/presentation/providers/goal_progress_providers_test.dart
  test/features/home/presentation/widgets/recording_status_widget_test.dart
  test/features/logging/presentation/logs_screen_test.dart
  test/features/reachability/presentation/providers/reachability_providers_test.dart
  test/features/spotlight_indexing/data/datasources/content_data_source_test.dart
  test/features/spotlight_indexing/data/repositories/spotlight_indexing_repository_impl_simple_test.dart
  test/features/table_browse_edit/presentation/widgets/logs_table_content_test.dart
Due: Data Layer, Presentation Layer

refactor: Use 'const' constructors for improved performance in tests
  test/features/loading_skeletons/presentation/widgets/skeleton_shimmer_test.dart
  test/features/reachability/presentation/providers/reachability_audit_provider_test.dart
  test/features/responsive/domain/layout_config_test.dart
  test/features/table_browse_edit/domain/usecases/get_filtered_sorted_logs_usecase_test.dart
Due: Presentation Layer, Use Cases

init
  .gitignore
  android/.gitignore
  ios/.gitignore
  linux/.gitignore
  macos/.gitignore
  windows/.gitignore
Due: none

feat: Implement log record editing and deletion functionality
  .gitignore
  CRUD_TEST_COVERAGE.md
  lib/models/model_converters.dart
  lib/providers/log_record_provider.dart
  lib/repositories/log_record_repository.dart
  lib/repositories/log_record_repository_web.dart
  lib/screens/analytics_screen.dart
  lib/screens/home_screen.dart
  lib/services/log_record_service.dart
  lib/widgets/edit_log_record_dialog.dart
  playwright/tests/logging-flow.spec.ts
  test/services/log_record_service_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: Add cross-platform testing guide and update test helpers for Hive
  TESTING_CROSS_PLATFORM.md
  test/services/account_service_test.dart.old
  test/services/account_service_test_DEPRECATED.dart
  test/services/analytics_service_test.dart.old
  test/services/analytics_service_test_DEPRECATED.dart
  test/services/logging_service_test.dart.old
  test/services/logging_service_test_DEPRECATED.dart
  test/test_helpers.dart
Due: none

Add comprehensive documentation validation rules and update existing documents for consistency
  docs/plan-review/README.md
  docs/plan-review/validate_docs.py
  docs/plan-review/validation-rules.md
  docs/plan/1. Project Overview.md
  docs/plan/16. Future Extensions.md
  docs/plan/2. Technology Stack.md
  docs/plan/25. Coding Standards.md
  docs/plan/26. Documentation Conventions.md
  docs/plan/27. Feature Flags & Experimental Work.md
  docs/plan/29. Observability & Diagnostics.md
  docs/plan/3. Application Structure.md
  docs/plan/4. Domain Model.md
  docs/plan/5. Logging System.md
  docs/plan/7. Data Persistence.md
Due: none

Refactor documentation for clarity and consistency
  .gitignore
  docs/plan-review/validate_docs_extended.py
  docs/plan/12. Configuration & Environments.md
  docs/plan/13. Testing Strategy.md
  docs/plan/14. Deployment & Distribution.md
  docs/plan/18. Data Integrity & Consistency.md
  docs/plan/27. Feature Flags & Experimental Work.md
  docs/plan/3. Application Structure.md
  docs/plan/4. Domain Model.md
  docs/plan/5. Logging System.md
  docs/plan/6. State Management.md
  docs/plan/7. Data Persistence.md
  docs/plan/9. UI Architecture.md
Due: none

Refactor documentation for clarity and consistency
  docs/plan-review/validate_docs_extended.py
  docs/plan/1. Project Overview.md
  docs/plan/11. Error Handling & Observability.md
  docs/plan/15. Assumptions & Open Questions.md
  docs/plan/16. Future Extensions.md
  docs/plan/17. Performance & Scalability.md
  docs/plan/2. Technology Stack.md
  docs/plan/20. Security Model.md
  docs/plan/21. Permissions & OS Integration.md
  docs/plan/22. Notifications & Reminders.md
  docs/plan/24. Developer Workflow.md
  docs/plan/25. Coding Standards.md
  docs/plan/26. Documentation Conventions.md
  docs/plan/27. Feature Flags & Experimental Work.md
  docs/plan/28. Migration & Backward Compatibility.md
  docs/plan/4. Domain Model.md
  docs/plan/5. Logging System.md
  docs/plan/7. Data Persistence.md
  docs/plan/8. Authentication & Accounts.md
Due: none

feat: Enhance logging functionality with mood, craving, reason, and location fields
  lib/models/enums.dart
  lib/models/log_record.dart
  lib/providers/log_record_provider.dart
  lib/screens/home_screen.dart
  lib/screens/logging_screen.dart
  lib/services/log_record_service.dart
  lib/widgets/log_entry_widgets.dart
  test/models/enums_test.dart
  test/providers/log_draft_provider_test.dart
  test/screens/logging_screen_test.dart
  test/widgets/quick_log_widget_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: Add location permission handling and metadata to logging model
  docs/plan/21. Permissions & OS Integration.md
  docs/plan/4. Domain Model.md
  test/widgets/quick_log_widget_test.dart
Due: Presentation Layer

feat: Add analytics and export services, implement home screen updates
  lib/main.dart
  lib/models/account.dart
  lib/models/log_entry.dart
  lib/providers/account_provider.dart
  lib/screens/accounts_screen.dart
  lib/screens/analytics_screen.dart
  lib/screens/export_screen.dart
  lib/screens/history_screen.dart
  lib/screens/home_screen.dart
  lib/services/analytics_service.dart
  lib/services/export_service.dart
  lib/services/notification_service.dart
  lib/widgets/analytics_charts.dart
  test/models/log_entry_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: Update log record service to support multiple reasons and enforce rating validation
  .gitignore
  IMPLEMENTATION_COMPLETE.md
  docs/plan/16. Future Extensions.md
  docs/plan/22. Notifications & Reminders.md
  docs/plan/23. Import - Export.md
  docs/plan/4. Domain Model.md
  docs/plan/5. Logging System.md
  docs/plan/7. Data Persistence.md
  docs/plan/9. UI Architecture.md
  lib/models/enums.dart
  lib/models/log_record.dart
  lib/models/model_converters.dart
  lib/models/web_models.dart
  lib/providers/log_record_provider.dart
  lib/screens/home_screen.dart
  lib/screens/logging_screen.dart
  lib/services/export_service.dart
  lib/services/log_record_service.dart
  lib/services/sync_service.dart
  lib/services/validation_service.dart
  lib/widgets/analytics_charts.dart
  lib/widgets/backdate_dialog.dart
  lib/widgets/home_quick_log_widget.dart
  lib/widgets/log_entry_widgets.dart
  test/providers/log_draft_provider_test.dart
  test/services/validation_service_test.dart
  test/widgets/home_quick_log_widget_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: Update event type to vape and modify related UI elements
  lib/providers/log_record_provider.dart
  lib/screens/history_screen.dart
  lib/screens/home_screen.dart
  lib/widgets/quick_log_widget.dart
  test/widgets/quick_log_widget_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: Update documentation and tests for home screen vape logging functionality
  CRUD_TEST_COVERAGE.md
  README.md
  playwright/tests/hold-to-record.spec.ts
Due: none

feat: Add null check for database context in LogRecordRepository factory and initialize repository in LogRecordService
  lib/repositories/log_record_repository.dart
  lib/services/log_record_service.dart
Due: unit_tests, widget_tests, integration_tests

feat: Enhance test coverage for LogRecordService and HomeQuickLogWidget, addressing database initialization issues
  docs/TEST_IMPROVEMENTS.md
  test/services/log_record_service_test.dart
  test/widgets/home_quick_log_widget_test.dart
Due: Presentation Layer

feat: Implement full field editing in Edit Log dialog, adding mood, physical ratings, reasons, and location support
  docs/EDIT_LOG_ENHANCEMENT.md
  lib/providers/log_record_provider.dart
  lib/services/log_record_service.dart
  lib/widgets/edit_log_record_dialog.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

Add comprehensive testing strategy and user story tests for AshTrail
  TESTING_SUMMARY.md
  docs/TESTING_STRATEGY.md
  docs/USER_STORY_TESTS.md
  test/services/log_record_user_stories_test.dart
Due: none

Add comprehensive tests for export and import functionalities in ExportService
  lib/main.dart
  lib/screens/analytics_screen.dart
  lib/widgets/analytics_charts.dart
  lib/widgets/charts/activity_bar_chart.dart
  lib/widgets/charts/activity_line_chart.dart
  lib/widgets/charts/charts.dart
  lib/widgets/charts/event_type_pie_chart.dart
  lib/widgets/charts/hourly_heatmap.dart
  lib/widgets/charts/time_range_picker.dart
  test/screens/ui_flow_user_stories_test.dart
  test/services/analytics_user_stories_test.dart
  test/services/export_user_stories_test.dart
  test/widgets/charts_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: Add developer tools section in AccountsScreen for test account management and sample log creation; implement corresponding tests
  lib/screens/accounts_screen.dart
  playwright/tests/test-account-basic.spec.ts
  playwright/tests/test-account-persistence.spec.ts
  test/screens/accounts_screen_test.dart
  test/screens/test_account_user_stories_test.dart
Due: unit_tests, widget_tests, integration_tests

feat: Add CI workflow for Flutter project and deploy to GitHub Pages
  .github/workflows/ci.yml
  .github/workflows/pages.yml
Due: none

refactor: Clean up code and improve readability across multiple files
  integration_test/logging_flow_test.dart
  lib/main.dart
  lib/models/daily_rollup.dart
  lib/models/model_converters.dart
  lib/models/sync_metadata.dart
  lib/models/web_models.dart
  lib/providers/log_record_provider.dart
  lib/screens/accounts_screen.dart
  lib/screens/analytics_screen.dart
  lib/screens/auth/login_screen.dart
  lib/screens/auth/signup_screen.dart
  lib/screens/export_screen.dart
  lib/screens/home_screen.dart
  lib/screens/logging_screen.dart
  lib/screens/profile/profile_screen.dart
  lib/services/hive_database_service.dart
  lib/widgets/backdate_dialog.dart
  lib/widgets/edit_log_record_dialog.dart
  lib/widgets/log_entry_widgets.dart
  test/services/export_user_stories_test.dart
  test/services/log_record_service_test.dart
  test/services/log_record_user_stories_test.dart
  test/widgets/home_quick_log_widget_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: Implement account data deletion and enhance export functionality
  lib/providers/account_provider.dart
  lib/repositories/log_record_repository.dart
  lib/repositories/log_record_repository_hive.dart
  lib/services/account_service.dart
  lib/services/export_service.dart
  lib/services/log_record_service.dart
  lib/services/sync_service.dart
  lib/widgets/log_entry_widgets.dart
  test/services/account_data_isolation_test.dart
  test/services/export_user_stories_test.dart
  test/services/log_record_service_test.dart
  test/services/log_record_user_stories_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

Add comprehensive tests for ValidationService methods
  test/models/account_test.dart
  test/models/daily_rollup_test.dart
  test/screens/home_screen_test.dart
  test/services/export_user_stories_test.dart
  test/services/log_record_service_test.dart
  test/services/validation_service_test.dart
Due: none

Add comprehensive tests for profile, signup, and analytics features
  lib/screens/auth/login_screen.dart
  lib/services/analytics_service.dart
  test/main_test.dart
  test/screens/accounts_screen_test.dart
  test/screens/analytics_screen_test.dart
  test/screens/export_screen_test.dart
  test/screens/history_screen_test.dart
  test/screens/home_screen_test.dart
  test/screens/login_screen_test.dart
  test/screens/profile_screen_test.dart
  test/screens/signup_screen_test.dart
  test/services/analytics_service_test.dart
  test/widgets/analytics_charts_widget_test.dart
  test/widgets/edit_log_record_dialog_test.dart
  test_output.txt
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

feat: Add tests for AnalyticsChartsWidget and SyncStatusIndicator components
  lr_out.txt
  test/widgets/analytics_charts_widget_test.dart
  test/widgets/sync_status_widget_test.dart
Due: Presentation Layer

feat: Sort recent records in reverse chronological order and update dropdown initial values
  assets/google_logo.png
  lib/screens/home_screen.dart
  lib/screens/logging_screen.dart
  lib/services/validation_service.dart
  lib/widgets/backdate_dialog.dart
  lib/widgets/edit_log_record_dialog.dart
  lib/widgets/log_entry_widgets.dart
  pubspec.yaml.bak
  test/screens/history_screen_test.dart
  test/screens/home_screen_test.dart
  test/screens/login_screen_test.dart
  test/widgets/analytics_charts_widget_test.dart
  test/widgets/edit_log_record_dialog_test.dart
Due: unit_tests, widget_tests, integration_tests, Presentation Layer

chore: Add analyzer configuration to suppress deprecation warnings for DropdownButtonFormField
  analysis_options.yaml
Due: none
